*{
    margin: 0;
    padding: 0;
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2px 2px;
}
.logo img{
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
   padding: 2px;
   position: fixed;
   width: 100%;
   top: 0;
}
.list{
    display: flex;
    align-items: center;
    background-color:rgba(46, 44, 44, 0.7);
}
.list li{
    list-style: none;
    padding: 20px 30px;
}
.list li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.list li a:hover{
    color: rgb(70, 82, 255);
}
.background{
    background: rgba(0, 0, 0, 0.7)url(./images/Background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 80px;
    color: white;
    max-width: 60%;
    margin: auto;
}
.firstsection{
    height: 100vh;
}
#imglogo{
    border: 2px solid black;
    border-radius: 40px;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    display: block;
    margin: auto;
}
.text-big{
    font-size: 38px;
}
.text-small{
    font-size: 18px;
}
#vid{
    padding: 5px 10px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.secRight{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0px 65px;
}
